#bodyBlock{
  color:black;
}

#companyLogo{
    border-radius: 60px;
    width: 10%;
    height: 10%;
    margin: 6px;
    float:left;
    margin-left:10%;
    margin-top:-2%;
}

h1{
  text-align: center;
}

#info{
  position:fixed;
  width:20%;
  left:7.5%;
  top:61%;
}

#description{
  margin-left:30%;
  width:60%;
  margin-top:-2%;
}

#errormessage{
  text-align:center;
}
